.last {
    margin-bottom: 0;
}

.comments-placeholder {
    max-height: 400px;
    overflow-y: auto;

    .comments {
        color: #555;

    }
}

.new-item-form {
    .img-thumbnail {
        background-image: url("images/64x64.png");
        width: 72px;
        height: 72px;
    }

    .avatar {
        width: 102px;
    }

    .img-thumbnail,
    .form-control {
        margin-bottom: 10px;
    }
}

.navbar-default .navbar-nav > li > a {
    &.active {
        @include gradient-vertical(#428bca, darken(#428bca, 12%));
        color: white;
    }
}
