.last {
    margin-bottom: 0;
}

.comments-placeholder {
    max-height: 400px;
    overflow-y: auto;

    .comments {
        color: #555;

        .timestamp {
            font-style: italic;
            color: gray;
            font-size: .9em;
        }
    }
}

.new-comment-form {
    .img-thumbnail {
        background-image: url("images/64x64.png");
        width: 72px;
        height: 72px;
    }

    .avatar {
        width: 102px;
    }
}

@media screen and (min-width: $screen-md-min) {
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
}

@media screen and (max-width: $screen-xs-max) {

    .new-comment-form {

        .img-thumbnail,
        .form-control {
            margin-bottom: 20px;
        }
    }
}

.navbar-default .navbar-nav > li > a {
    &.active {
        @include gradient-vertical(#428bca, darken(#428bca, 12%));
        color: white;
    }
}
