<div>Topics:</div>
<div class="well comments-placeholder">
    <ul class="topics">
        <li>
            <h4>No topic.</h4>
            <div class="comments-placeholder">
                <ul class="comments">
                    {{each model itemViewClass="comment"}}
                </ul>
                <div style="margin-left: 40px">
                    {{#link-to "comments.new"}}reply{{/link-to}}
                </div>
            </div>
        </li>
    </ul>
</div>
{{outlet}}
