<div class="well form-horizontal">
    <div class="form-group last">
        <div class="col-sm-10">
            {{input type="text" valueBinding='controller.comment' placeholder='your comment'
              class='form-control' name="newComment"}}
        </div>
        <div class="col-sm-2">
            <button {{action 'add'}} class="btn btn-primary">Add</button>
        </div>
    </div>
</div>
Comments:
<div class="well">
    <ul class="comments">
        {{#each model}}
            <li><span class="comment">{{content}}</span> <span class="timestamp">({{date timestamp}})</span></li>
        {{/each}}
    </ul>
</div>
