<ol class="breadcrumb">
    <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    <li class="active">Post</li>
</ol>

<h3>{{model.content}}</h3>

{{#with comments as model.comments}}

    <div class="well comments-placeholder">
        {{#if comments}}
            {{view 'comments'}}
            {{~else~}}
            No Comments.
        {{~/if~}}
    </div>
{{/with}}

<p>
    {{#link-to 'post.comment' model  class="btn btn-primary"}}Add New Comment{{/link-to}}
</p>

{{outlet}}
